.signin {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: brown;
    color: #fff;
}

.signin:hover {
    background-color: rgb(219, 77, 77);
    cursor: pointer;
}