.nav {
  background-color: #343a40;
    color: #fff;
    list-style-type: none;
    margin: 0;
    padding: .5rem 1rem;
    overflow: hidden;
    display: block;
  }
  
  .nav span {
      float: left;
      font-size: 18px;
      padding: 5px;
  }
  
  .nav ul {
    float: left;
    align-items: center;
    margin: 0;
    padding: 5px;
  }
  
  .nav ul li {
    padding: .5rem 1rem;
    text-decoration: none;
    display: inline;
    font-size: 14px;
  }
  
  .nav ul li:hover {
      cursor: pointer;
      color: #000;
  }
  